<%- include('../partials/header') %>
	<header>
		<ul>
			<li><a href="/fruits/new">Create Fruit</a></li>
		</ul>
	</header>
	<h1>All Fruits!</h1>
	<ul>
		<% fruitDocs.forEach(fruit=> { %>
			<li>
				<a href="/fruits/<%= fruit._id %>">
					<%= fruit.name %>
				</a>

			</li>
			<% }) %>
	</ul>

<%- include('../partials/footer') %>